.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.c-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 500px;
  max-height: 592px;
  width: 90vw;
  height: 90vh;
  padding: 0 1rem;

  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-grid__answer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 40%;
}

.p-chat__bubble {
  border-radius: 4px;
  font-weight: 500;
  padding: 0.8rem;
  margin-right: 1rem;
  max-width: 80%;
  width: auto;
}

.p-chat__question {
  color: #fff;
  background: #5a82af;
  font-size: 15px;
}

.p-chat__answer {
  color: #000;
  background: #ebebeb;
  font-size: 14px;
}

.p-chat__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
  background: #fff;
}

.p-chat__reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.p-question__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.p-question__description {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  line-height: 1.7;
}
